<!DOCTYPE html>
{% load bootstrap5 %}

{% bootstrap_css %}

{% bootstrap_javascript %}

{% bootstrap_messages %}
{% load static %}


<html lang="en">
<head>
    <title>Blog</title>

    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Russo+One&display=swap" rel="stylesheet">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
</head>

<body class='loader'>
    <nav class="navbar navbar-expand-sm bg-light">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class='navbar-brand bigbrand' href="{% url 'post_list' %}">My Tech blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about'%}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.github.com">Github</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com">LinkedIn</a>
                </li>
            </ul>
            

            <ul class="navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_new' %}" >New Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_draft_list' %}">Drafts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}" >Log out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >Welcome: {{ user.username }}</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class='nav navbar-right' href="{% url 'login' %}" >
                        <i class="fa-solid fa-user"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav> 
    {# The actual blog posts#}
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                    <div class="blog_posts">
                        {% block content %}
                        {% endblock %}
                    </div>
  
                  </div>
              </div>
          </div>
  
  {# SCRIPTS#}
  
  <script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
  
  </body>
  </html>